---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import Base from "../../layouts/Base.astro";
import BlogCard from "../../components/BlogCard.astro";

import "../../styles/blog.css";
import "../../styles/blog-card.css";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = (
    await getCollection(
      "blog",
      ({ data }) => import.meta.env.DEV || !data.draft,
    )
  ).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
  const allTags = [...new Set(posts.flatMap((p) => p.data.tags))];

  return paginate(posts, { pageSize: 6, props: { allTags } });
}) satisfies GetStaticPaths;

const { page, allTags } = Astro.props;
---

<Base
  title="Blog - Alexis Morin"
  metaD="List of blog posts from Alexis Morin's blog"
>
  <main class="blog-list-page">
    <h2>Blog</h2>
    <ul class="blog-list">
      {
        page.data.map((p) => (
          <li>
            <BlogCard post={p} />
          </li>
        ))
      }
    </ul>
    <div class="content">
      <section>
        <h2>Tags</h2>
        <ul class="tag-list">
          {
            allTags.map((t) => (
              <li>
                <a href={`/blog/tags/${t.toLowerCase()}`}>#{t}</a>
              </li>
            ))
          }
        </ul>
      </section>
      {
        page.lastPage > 1 && (
          <div class="content prev-next">
            {page.url.prev ? (
              <a href={page.url.prev} class="prev">
                Earlier posts
              </a>
            ) : (
              <span />
            )}
            {page.url.next ? (
              <a href={page.url.next} class="next">
                Later posts
              </a>
            ) : (
              <span />
            )}
          </div>
        )
      }
    </div>
  </main>
</Base>
